<section>
  <h2 style="margin-bottom:40px;">电子发票上传方法</h2>
  <h3 class="title">方法一：</h3>
  <p class="section">将带有电子发票PDF附件的电子邮件转发 至
    <a href="mailto:up@mydzfp.cn">up@mydzfp.cn</a>；</p>
  <p style="color:#999"> *使用该方法上传电子发票文件，需要用户注册时指定电子邮箱，只有利用指定的电子邮箱所转发的电子发票文件，才能够被平台接受，成功上传。</p>
  </p>

  <h3 class="title">方法二：</h3>
  <p class="section">访问《明阅电子发票助手》官网
    <a href="http://www.mydzfp.cn">www.mydzfp.cn</a>，登录【我的明阅】利 用文件上传功能上传电子发票，包括提交 电子发票下载地址或指定本地PDF文件上 传两种方式；
  </p>

  <h3 class="title">方法三：</h3>
  <p class="section">登录《明阅电子发票助手》手机端APP， 提交电子发票下载地址。
  </p>
</section>