<section>
  <div style="margin-bottom:20px;">
    <Button type="primary" shape="circle" icon="ios-printer-outline" @click="batchPrint">批量打印</Button>
    <div style="float:right;margin-bottom:20px;">
      <table class="table table-bordered table-condensed">
        <tbody>
          <tr>
            <th>合同到期日</th>
            <td>{{contract.payEndTime|slice(0, 10)}}</td>
          </tr>
          <tr>
            <th>当月发票额度</th>
            <td>{{contract.monthUpperLimit}}</td>
          </tr>
          <tr>
            <th>当月剩余额度</th>
            <td>{{contract.monthUpperLimit - contract.use}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <table class="table" >
    <thead>
      <tr>
        <th>
          <Checkbox :value="checkedAll" @click.prevent.native="handleCheckAll">全选</Checkbox>
        </th>
        <th>名称</th>
        <th>金额</th>
        <th>是否已打印</th>
        <th>时间</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr v-if="data.length" v-for="item in data" key="item.id">
        <td>
          <Checkbox :value="checkedIds.indexOf(item.id)>=0" @on-change="handleCheck(item.id)"></Checkbox>
        </td>
        <td>{{item.salesName}}</td>
        <td>{{item.sumWithTax}}</td>
        <td>{{item.isNewRecord?'未打印':'已打印'}}</td>
        <td>{{item.createDate}}</td>
        <td>
          <a v-if="item.isNewRecord" href="javascript:;" @click="singlePrint(item)"><Icon type="ios-printer-outline"></Icon> 打印</a>
          <span v-else>-</span>
        </td>
      </tr>
      <tr v-if="!data.length">
        <td colspan="6" style="text-align:center;padding:50px 0">无数据</td>
      </tr>
    </tbody>
  </table>
  <Page v-if="data.length" style="float:right" :current="pageNo" :total="total" :page-size="pageSize" size="small" show-elevator @on-change="onChange"></Page>
  <iframe style="display:none" ref="printIframe" :src="pdfUrl"></iframe>
</section>