<section>
  <div style="margin-bottom:20px;">
    <Button type="primary" shape="circle" icon="ios-printer-outline" @click="batchPrint">批量打印</Button>
  </div>
  <table class="table" >
    <thead>
      <tr>
        <th>
          <Checkbox :value="checkedAll" @click.prevent.native="handleCheckAll">全选</Checkbox>
        </th>
        <th>名称</th>
        <th>金额</th>
        <th>是否已打印</th>
        <th>时间</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr v-if="data.length" v-for="item in data" key="item.id">
        <td>
          <Checkbox v-model="checkedAll">全选</Checkbox>
        </td>
        <td>{{item.name}}</td>
        <td>{{item.money}}</td>
        <td>{{item.isPrint?'未打印':'已打印'}}</td>
        <td>{{item.datetime}}</td>
        <td>
          <a href="javascript:;" @click="singlePrint(item)"><Icon type="ios-printer-outline"></Icon> 打印</a>
          <!-- <a style="margin-left:10px;" href="javascript:;" @click="handleDelete(item)"><Icon type="ios-trash-outline"></Icon> 删除</a> -->
        </td>
      </tr>
      <tr v-if="!data.length">
        <td colspan="6" style="text-align:center;padding:50px 0">无数据</td>
      </tr>
    </tbody>
  </table>
  <Page v-if="data.length" style="float:right" :current="pageNo" :total="total" :page-size="pageSize" size="small" show-elevator @on-change="onChange"></Page>
  <iframe style="display:none" ref="printIframe" :src="pdfUrl"></iframe>
</section>