<section>
  <div style="margin-bottom:20px;">
    <Row>
      <Col span="14">
      <Button type="primary" shape="circle" icon="ios-printer-outline" @click="batchPrint" :disabled="isPrinting" style="margin-bottom:70px;">批量打印</Button>
      <Form ref="formInline" inline>
        <FormItem>
          <Input type="text" v-model="createName" placeholder="报销人">
          <Icon type="ios-person-outline" slot="prepend"></Icon>
          </Input>
        </FormItem>
        <FormItem>
          <Button type="ghost" shape="circle" icon="ios-search" @click.stop="handleSearch">搜索</Button>
        </FormItem>
      </Form>
      </Col>
      <Col span="10">
      <table class="table table-bordered table-condensed">
        <tbody>
          <tr>
            <th>服务到期时间</th>
            <td>{{contract.payEndTime|slice(0, 10) || '-'}}</td>
          </tr>
          <tr>
            <th>本月可使用发票额度</th>
            <td>{{contract.monthUpperLimit || '-'}}</td>
          </tr>
          <tr>
            <th>本月已使用发票额度</th>
            <td>{{contract.use || '-'}}</td>
          </tr>
        </tbody>
      </table>
      </Col>
    </Row>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>
          <Checkbox :value="checkedAll" @click.prevent.native="handleCheckAll">全选</Checkbox>
        </th>
        <th>名称</th>
        <th>报销人</th>
        <th>金额</th>
        <th>发票状态</th>
        <th>开票时间</th>
        <th>上传时间</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr v-if="data.length" v-for="item in data" key="item.id">
        <td>
          <Checkbox :disabled="item.fpHandleStatus!='2'" :value="checkedIds.indexOf(item.id)>=0" @on-change="handleCheck(item.id)"></Checkbox>
        </td>
        <td>{{item.salesName}}</td>
        <td>{{item.createName.name}}</td>
        <td>{{item.sumWithTax}}</td>
        <td>
          <span v-if="item.fpHandleStatus=='0'">查验中</span>
          <span v-else-if="item.fpHandleStatus=='1'">查验失败</span>
          <span v-else-if="item.fpHandleStatus=='2'">未打印</span>
          <span v-else-if="item.fpHandleStatus=='3'">已打印</span>
        </td>
        <td>{{item.fpDate}}</td>
        <td>{{item.createDate}}</td>
        <td>
          <a v-if="item.fpHandleStatus=='2'" href="javascript:;" @click="singlePrint(item)" :disabled="isPrinting">
            <Icon type="ios-printer-outline"></Icon> 打印</a>
          <span v-else>-</span>
        </td>
      </tr>
      <tr v-if="!data.length">
        <td colspan="8" style="text-align:center;padding:50px 0">无数据</td>
      </tr>
    </tbody>
  </table>
  <Page style="float:right" :current.sync="pageNo" :total="total" :page-size="pageSize" size="small" show-elevator show-total
    @on-change="onChange"></Page>
  <iframe style="height:100px;width:100%;opacity:0" ref="iframe"></iframe>
</section>