<el-card class="card-box">
  <div style="text-align:center">
    <img src="../../assets/logo.png" style="width: 80px;height:80px;margin-top:50px;">
    <h3 style="margin: 20px 0 50px;">欢迎使用{{$conf.title}}</h3>
  </div>
  <el-form ref="formValidate" :model="formValidate" :rules="ruleValidate" label-width="80px">
    <el-form-item label="用户名" prop="username">
      <el-input v-model="formValidate.username"></el-input>
    </el-form-item>
    <el-form-item label="密码" prop="password">
      <el-input type="password" v-model="formValidate.password" auto-complete="off"></el-input>
    </el-form-item>
    <el-form-item>
      <el-checkbox v-model="formValidate.remember">记住我的登录信息</el-checkbox>
    </el-form-item>
    <el-form-item>
      <el-button type="primary" size="large" :loading="loading" @click="handleSubmit('formValidate')" style="width:150px;">登录</el-button>
    </el-form-item>
    <el-row>
      <el-col :span="12">
        <el-button type="text" @click="$router.push('/register')">注册</el-button>
      </el-col>
      <el-col :span="12">
        <el-button type="text" @click="$router.push('/password-forget')" style="float:right">忘记密码</el-button>
      </el-col>
    </el-row>
  </el-form>
</el-card>