<Form ref="formValidate" :model="formValidate" :rules="ruleValidate" :label-width="90" style="width: 400px;">
  <Form-item label="旧密码" prop="oldPassword">
    <Input v-model="formValidate.oldPassword" placeholder="旧密码" type="password"></Input>
  </Form-item>
  <Form-item label="新密码" prop="newPassword">
    <Input v-model="formValidate.newPassword" placeholder="新密码" type="password"></Input>
  </Form-item>
  <Form-item>
    <Button type="primary" style="width:140px" long  :loading="loading" @click="handleSubmit('formValidate')">提交</Button>
  </Form-item>
</Form>