<div class="layout">
  <MainHeader></MainHeader>
  <div class="layout-container">
    <Row type="flex">
      <i-col span="5">
        <ComponentsMainMenu :data="menu" :onSelect="onSelect"></ComponentsMainMenu>
      </i-col>
      <i-col span="19" class="layout-content-warp">
        <div class="layout-content">
          <div class="layout-content-main">
            <transition name="slide-fade"  mode="out-in">
              <router-view></router-view>
            </transition>
          </div>
        </div>
      </i-col>
    </Row>
  </div>
  <MainFooter></MainFooter>
</div>