<div class="layout">
  <MainHeader></MainHeader>
  <div class="layout-container">
    <el-row :gutter="20">
      <el-col :md="5" class="layout-sidebar">
        <ComponentsMainMenu :data="menu" :onSelect="onSelect"></ComponentsMainMenu>
      </el-col>
      <el-col :md="19" class="layout-content-warp">
        <div class="layout-content">
          <div class="layout-content-main">
            <transition name="slide-fade" mode="out-in">
              <router-view></router-view>
            </transition>
          </div>
        </div>
      </el-col>
    </el-row>
  </div>
  <MainFooter></MainFooter>
</div>