<Card class="register">
  <div v-if="step==1">
    <h2 slot="title" style="text-align:center">找回密码</h2>
    <Form ref="formValidate" :model="formValidate" :rules="ruleValidate" :label-width="95" style="padding: 20px;">
      <Form-item label="手机号" prop="mobile">
        <Input v-model="formValidate.mobile" placeholder="手机号码"></Input>
      </Form-item>
      <Form-item label="手机验证码" prop="smsCode">
        <Row>
          <Col span="12">
          <Input v-model="formValidate.smsCode" placeholder="4位数数字"></Input>
          </Col>
          <Col span="11" offset="1">
          <a v-show="!countdownStart" type="ghost" @click="fetchSmsCode">获取验证码</a> 
          <span v-show="countdownStart">重新获取({{countdownTime}}s)</span>
          </Col>
        </Row>
      </Form-item>
      <Form-item style="margin-bottom:5px">
        <Button type="primary" style="width:140px" long :loading="loading" @click="handleSubmit('formValidate')">下一步</Button>
      </Form-item>
    </Form>
  </div>

  <div v-if="step==2">
    <h2 slot="title" style="text-align:center">修改密码</h2>
    <Form ref="formValidatePassword" :model="formValidatePassword" :rules="ruleValidatePassword" :label-width="90" style="padding: 20px;">
      <Form-item label="登录密码" prop="password">
        <Input v-model="formValidatePassword.password" placeholder="" type="password"></Input>
      </Form-item>
      <Form-item label="确认密码" prop="passwordAgain">
        <Input v-model="formValidatePassword.passwordAgain" placeholder="" type="password"></Input>
      </Form-item>
      <Form-item style="margin-bottom:5px;">
        <Button type="primary" style="width:140px" long :loading="loading" @click="handleSubmit('formValidatePassword')">提交</Button>
      </Form-item>
    </Form>
  </div>

</Card>