*{
  margin:0px;
  padding: 0px;
}
.font-color{
	FONT-SIZE: 12px; COLOR: white
}
.new-message{
  position: absolute;
  right: -4px;
  top:-4px;
  background: red;
  width:6px;
  height:6px;
  border-radius: 50%;
}
.message-box{
  position: relative
}
.layout-ceiling{
  background-image: url(../images/bg.gif); 
  margin: 0px; 
  BACKGROUND-REPEAT: repeat-x
}
.layout-ceiling-main{
  padding-right: 80px; 
  background-position: right 30%; 
  display: block; 
  padding-left: 30px; 
  background:url(../images/bg_banner_menu.gif); 
  padding-bottom: 30px; 
  padding-top: 0px; 
  background-repeat: no-repeat; 
  height: 30px; 
  text-align: right;
}
.wel-user{
  background-image: url(../images/bg_nav.gif); 
  background-repeat: repeat-x; 
  height: 30px;
  width:100%;
  line-height: 50px;
}
.pos{
  padding-bottom: 200px;
}
