<Row style="margin-left:50px;">
  <Col span="18">
  <Form label-position="left" :label-width="100">
    <Form-item label="账号名">
      <Input placeholder="请输入账号名称"></Input>
    </Form-item>

    <Form-item label="姓名">
      <Input placeholder="请输入姓名"></Input>
    </Form-item>
    <Form-item label="电话">
      <Input placeholder="请输入电话"></Input>
    </Form-item>

    <Form-item label="邮箱">
      <Input placeholder="请输入邮箱"></Input>
    </Form-item>

    <Form-item>
      <Button type="primary">提交</Button>
      <Button type="ghost" style="margin-left: 8px">取消</Button>
    </Form-item>

  </Form>
  </Col>
</Row>