<section>
  <div style="margin-bottom:20px;">
    <Button type="primary" shape="circle" icon="ios-upload-outline" @click="$router.push('/uploader')">上传发票</Button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>名称</th>
        <th>金额</th>
        <th>发票状态</th>
        <th>开票时间</th>
        <th>上传时间</th>
      </tr>
    </thead>
    <tbody>
      <tr v-if="data.length" v-for="item in data">
        <td>{{item.salesName}}</td>
        <td>{{item.sumWithTax}}</td>
        <td>
          <span v-if="item.fpHandleStatus=='0'">查验中</span>
          <span v-else-if="item.fpHandleStatus=='1'">查验失败</span>
          <span v-else-if="item.fpHandleStatus=='2'">未打印</span>
          <span v-else-if="item.fpHandleStatus=='3'">已打印</span>
        </td>
        <td>{{item.fpDate}}</td>
        <td>{{item.createDate}}</td>
      </tr>
      <tr v-if="!data.length">
        <td colspan="4" style="text-align:center;padding:50px 0">无数据</td>
      </tr>
    </tbody>
  </table>
  <Page v-if="data.length" style="float:right" :current.sync="pageNo" :total="total" :page-size="pageSize" size="small" show-elevator show-total @on-change="onChange"></Page>
</section>