<section>
  <div style="margin-bottom:20px;">
    <Button type="primary" shape="circle" icon="ios-upload-outline" @click="$router.push('/uploader')">上传发票</Button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>名称</th>
        <th>金额</th>
        <th>是否已打印</th>
        <th>时间</th>
      </tr>
    </thead>
    <tbody>
      <tr v-if="data.length" v-for="item in data">
        <td>{{item.salesName}}</td>
        <td>{{item.sumWithTax}}</td>
        <td>{{!item.isNewRecord?'未打印':'已打印'}}</td>
        <td>{{item.fpDate}}</td>
      </tr>
      <tr v-if="!data.length">
        <td colspan="4" style="text-align:center;padding:50px 0">无数据</td>
      </tr>
    </tbody>
  </table>
  <Page v-if="data.length" style="float:right" :current="pageNo" :total="total" :page-size="pageSize" size="small" show-elevator @on-change="onChange"></Page>
</section>