<section>
  <div style="margin-bottom:20px;">
      <el-button type="primary" @click="$router.push('/uploader')" icon="el-icon-upload2">上传发票</el-button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>名称</th>
        <th>金额</th>
        <th>发票状态</th>
        <th>开票时间</th>
        <th>上传时间</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr v-if="data.length" v-for="item in data">
        <td>{{item.salesName}}</td>
        <td>{{item.sumWithTax}}</td>
        <td>
          <span v-if="item.fpHandleStatus=='0'">查验中</span>
          <span v-else-if="item.fpHandleStatus=='1'">查验失败</span>
          <span v-else-if="item.fpHandleStatus=='2'">未打印</span>
          <span v-else-if="item.fpHandleStatus=='3'">已打印</span>
        </td>
        <td>{{item.fpDate}}</td>
        <td>{{item.createDate}}</td>
        <td>
          <el-button type="text" v-if="item.fpHandleStatus=='2'" href="javascript:;" @click="fetchPdf(item.id)" :disabled="isPrinting">
            <i class="fa fa-print"></i> 打印
          </el-button>
          <span v-else>-</span>
        </td>
      </tr>
      <tr v-if="!data.length">
        <td colspan="4" style="text-align:center;padding:50px 0">无数据</td>
      </tr>
    </tbody>
  </table>
  <el-pagination
    style="float:right"
    v-if="data.length"
    @current-change="onChange"
    :current-page.sync="pageNo"
    :page-size="pageSize"
    layout="total, prev, pager, next"
    :total="total">
  </el-pagination>
  <iframe style="height:100px;width:100%;opacity:0" ref="iframe"></iframe>
</section>