<el-form ref="formValidate" :model="formValidate" :rules="ruleValidate" label-width="90px" style="width:400px;">
  <el-form-item label="公司名称">
      {{formValidate.office.name}}
  </el-form-item>
  <el-form-item label="公司ID">
      {{formValidate.office.idCode}}
  </el-form-item>
  <el-form-item label="手机号码">
      {{formValidate.mobile}}
  </el-form-item>

  <el-form-item label="表示名称" prop="name">
    <el-input v-model="formValidate.name" placeholder="表示名称"></el-input>
  </el-form-item>
  <el-form-item label="财务主管" prop="financeId">
    <el-select v-model="formValidate.financeId" placeholder="请选择财务主管">
      <el-option :label="item.name" v-for="item in financeUsers" key="item.id" :value="item.id"></el-option>
    </el-select>
  </el-form-item>
  <el-form-item label="邮箱" prop="email">
    <el-input v-model="formValidate.email" placeholder="邮箱"></el-input>
  </el-form-item>

  <el-form-item style="margin-bottom:5px;">
    <el-button type="primary" size="large" :loading="loading" @click="handleSubmit('formValidate')" style="width:140px;">保存</el-button>
  </el-form-item>
</el-form>